* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "roboto", poppins;
  scroll-behavior: smooth;
}

.page-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 4rem 4rem;
  background-color: lightseagreen;
  background-position: center;
  background-size: cover;
  height: 50vh;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.logo {
  width: 100px;
  height: 70px;
  color: #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li {
  display: inline-block;
  margin-left: 15px;
}

.menu li a {
  font-size: 25px;
  margin: 10px;
  text-transform: capitalize;
  color: #fff;
}

.menu li a::after {
  content: "";
  height: 2px;
  margin: auto;
  width: 0;
  display: block;
  background-color: #000;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu li a:hover::after {
  width: 100%;
}

.icon {
  font-size: 15px;
}

.fab {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 50%;
  margin: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.fab:hover {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.me {
  width: 350px;
  height: 400px;
}

.testimonial.show {
  opacity: 1;
  -webkit-animation: ioa 1s ease-in;
          animation: ioa 1s ease-in;
}

@-webkit-keyframes ioa {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ioa {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.about-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.list-text p {
  margin-top: 30px;
  margin-bottom: 2rem;
  font-size: 40px;
  text-decoration: underline;
  color: #000;
  text-align: left;
}

.link {
  margin-top: 50px;
  text-decoration: none;
  text-align: left;
  font-size: 25px;
}

.text1 h3,
.text2 h3,
.text3 h3 {
  border-radius: 5px;
  padding: 7px;
  border: 1px solid lightseagreen;
  cursor: pointer;
  background-color: lightseagreen;
  color: #fff;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.text1 h3:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
}

.text2 h3:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
}

.text3 h3:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
}

.hire {
  border: 1px solid lightseagreen;
  padding: 10px;
  width: 300px;
  height: 30px;
  font-size: 30px;
  border-radius: 5px;
  background-color: lightseagreen;
  color: #fff;
  margin: 30px 0;
  text-decoration: none;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.hire:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
}

.img2 {
  width: 400px;
  height: 400px;
}

h3 {
  color: orangered;
  margin: 15px;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 50px;
}

.group2 {
  margin-top: 100px;
  width: 450px;
}

.hire1 {
  border: 1px solid lightseagreen;
  padding: 10px;
  font-weight: 500;
  background-color: transparent;
  color: lightseagreen;
  text-decoration: none;
  margin: 30px 20px;
  border-radius: 5px;
}

.hire1:hover {
  background-color: lightseagreen;
  color: #fff;
}

.write {
  margin-bottom: 35px;
  font-size: 20px;
}

.write p {
  margin-bottom: 20px;
}

.offer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
  width: 80%;
  text-align: center;
  margin: auto;
}

.offer1 {
  margin: 10px;
  -webkit-box-shadow: 2px 2px 10px 2px lightgrey;
          box-shadow: 2px 2px 10px 2px lightgrey;
  padding: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.offer1:hover {
  background-color: lightseagreen;
  color: #fff;
}

.offer1 h4 {
  margin: 10px 0;
  font-size: 20px;
}

.offer1 p {
  font-size: 20px;
}

.about {
  margin-left: 70px;
}

.testimonial {
  opacity: 0;
}

.testimonal-text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 60px;
}

.testimonal-text {
  width: 500px;
}

.testimonal-text p {
  margin: 15px;
  font-size: 25px;
}

.testimonal-text h4 {
  margin: 5px;
}

.plus {
  font-size: 70px;
  color: lightseagreen;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.blog-subtext {
  width: 33%;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  border-radius: 5px;
  padding: 40px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  width: 420px;
  height: 300px;
  -webkit-box-shadow: 3px 3px 15px 3px lightgrey;
          box-shadow: 3px 3px 15px 3px lightgrey;
}

.blog-subtext:hover {
  background-color: lightseagreen;
  color: #fff;
}

.blog-subtext h4 {
  margin: 20px 0;
  font-size: 20px;
}

.blog-subtext h5 {
  font-size: 30px;
  margin: 20px 0;
}

.blog-subtext p {
  margin-top: 10px;
}

.blog-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 90px;
}

.hexcode {
  text-align: center;
  font-size: 60px;
}

.hexcode:hover {
  color: #000;
}

.hexcode1 {
  text-align: left;
  font-size: 60px;
}

.google-map {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

iframe {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 500px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.wave {
  background-color: lightseagreen;
  color: #000;
  height: auto;
  margin-bottom: 60px;
  width: 100%;
}

.wave p {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-style: oblique;
}

.menudiv {
  display: none;
}

.email {
  margin-top: 20px;
}

.menu2 li {
  display: inline-block;
  margin-left: 5px;
}

.navlink2 {
  text-align: center;
}

.menu2 li a {
  font-size: 20px;
  margin: 0 5px;
  text-transform: capitalize;
  color: #000;
  padding: 10px;
  border-radius: 5px;
}

.menu2 li a:hover {
  background-color: lightseagreen;
  color: #fff;
  border-radius: 5px;
}

.fab2 {
  color: #000;
  border: 1px solid #000;
  padding-left: 10px;
  border-radius: 50%;
  margin: 5px;
}

.icon2 {
  text-align: left;
  margin-left: 100px;
}

.footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 70px;
}

.copy {
  font-size: 25px;
  margin: 15px;
}

.vertical-line {
  border-left: 1px solid #000;
  display: block;
}

.bars {
  display: none;
}

.mobile-view {
  display: none;
}

.times {
  display: none;
}

.up {
  right: 30px;
  position: absolute;
  z-index: 15;
  color: lightseagreen;
  margin-bottom: 50px;
  cursor: pointer;
  font-size: 40px;
  -webkit-transition: 1s;
  transition: 1s;
}

.up:hover {
  color: #000;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@-webkit-keyframes ComeFromBelow {
  0% {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ComeFromBelow {
  0% {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 900px) {
  .icon a {
    display: block;
  }
  .icon2 a {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: auto;
  }
  .icon2 {
    margin-top: 10px;
  }
  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .testimonal-text1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-text .blog-subtext {
    margin-bottom: 25px;
  }
  .blog-text .about h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 700px) {
  .icon {
    display: none;
  }
  .navlink {
    display: none;
  }
  .menudiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menudiv p {
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
    margin-right: 10px;
  }
  .mobile-view li {
    padding: 4px 0;
  }
  .mobile-view a:focus {
    background-color: #000;
  }
  .mobile-view a {
    color: #333232;
    font-size: 30px;
  }
  .mobile-view {
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background-color: #00ffee;
    -webkit-animation: ComeFromBelow 1s ease-in;
            animation: ComeFromBelow 1s ease-in;
  }
  .list-text a {
    margin-bottom: 20px !important;
  }
  .list-text p::first-line {
    color: lightseagreen;
    text-decoration: underline;
  }
  .bars {
    display: block;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
  }
  .times {
    font-size: 3rem;
    color: #000;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 20px 30px;
  }
  .blog-text {
    display: block;
  }
  .blog-subtext {
    margin-bottom: 20px;
  }
  .about-header {
    display: block;
    text-align: center;
  }
  .list-text {
    display: block;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-align: left;
    margin-left: 2rem;
  }
  .photo-me {
    margin-top: 4rem;
  }
  .about-me {
    display: block;
  }
  .offer {
    display: block;
  }
  .offer1 {
    margin-bottom: 30px;
  }
  .testimonal-text1 {
    display: block;
  }
  .footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .copy {
    margin-bottom: 2rem;
  }
}

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  min-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  background-color: lightgrey;
  margin-bottom: 2rem;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 95%;
  min-width: 95%;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.portfolio .image-portfolio {
  background-color: #3b3b41;
  text-align: center;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.portfolio .port-me {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin: 1.5rem 0;
}

.portfolio .img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0.5rem 1rem;
}

.portfolio .img h2 {
  color: #fff;
}

.portfolio .img p {
  color: #fff;
  margin: 3px;
}

.portfolio .contact-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .contact-info {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.portfolio h3 {
  color: #fff;
  text-align: left !important;
}

.portfolio .linked {
  height: 0 !important;
  width: 0 !important;
  border-radius: 0 !important;
}

.portfolio i {
  color: #1097d6;
  margin-left: 3px;
}

.portfolio p {
  text-align: right;
  margin-left: 1rem;
  color: #fff;
  margin-top: 5px;
}

.educate {
  margin-top: 3rem;
}

.educate h2 {
  color: #fff;
}

.first-edu {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  padding: 1rem;
}

.first-edu h3 {
  color: #fff;
  margin-left: 1rem !important;
  font-size: 1.2rem;
}

.first-edu p {
  color: #fff;
  font-weight: bold;
}

.first-edu .year {
  color: #1097d6;
}

.profile-portfolio {
  margin-left: 1rem;
}

.profile-portfolio .profile-text {
  text-align: left;
  font-size: 1.2rem;
}

.profile-portfolio p {
  text-align: left;
  color: #000;
  margin: 0.7rem 0;
}

.profile-portfolio .upme {
  margin-top: 2rem;
}

.expirence-yr-course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.expirence-yr-course .yr {
  width: 300px;
  margin-right: 4rem;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.language h5 {
  margin-right: 5rem;
}

.language progress {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.language i {
  margin-right: 2rem;
}

.language .interest {
  margin: 10px;
}
/*# sourceMappingURL=styles.css.map */